# Build files
.gradle
.kotlin
build

# IDE files
*.iml
.idea/*
!.idea/icon.svg
/captures

# Configuration files
keystore.properties
local.properties

# Signing keys
*.jks
*.keystore
*.jks.b64

# macOS specific files
.DS_Store
